#battleScreen {
    width: 100vw;
    aspect-ratio: 16/9;
    background-image: url('/resources/images/GBA_background.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: none;
}
#backgroundContainer {
    display: grid;
    grid-template-areas: 'rivalHp rivalImg' 'myImg myHp' 'text text';
    grid-template-rows: 40% 28% 32%;
    grid-template-columns: 1fr 1fr;
    background-image: url('/resources/images/battleBackground.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 34vw;
    position: relative;
    top: 14vw;
    aspect-ratio: 556/371;
    margin-inline: auto;
}
#myPokeBattleImg {
    grid-area: myImg;
    max-height: 150%;
    margin-inline: auto;
    align-self: end;
    opacity: 0;
    transition: 2s;
    max-width: 90%;
    aspect-ratio: initial;
}
#rivalPokeBattleImg {
    grid-area: rivalImg;
    max-height: 90%;
    margin-inline: auto;
    align-self: end;
    opacity: 0;
    transition: 2s;
    max-width: 90%;
    aspect-ratio: initial;
}

.hpBar {
    width: 50%;
    height: 5%;
    background-color: red;
    position: relative;
    top: 40%;
}

#myHp {
    grid-area: myHp;
    left: 50%;
}
#rivalHp {
    grid-area: rivalHp;
    height: 3.5%;
    width: 52%;
}
#myRemainingHp, #rivalRemainingHp {
    background-color: green;
    width: 100%;
    height: 100%;
    transition-duration: 2s;
}
#battleTextBox {
    grid-area: text;
    margin: 5%;
    font-size: small;
    overflow-y: scroll;
    line-height: 1.5em;
    color: white;
}
.new-game-btn {
    width: 100%;
    height: 100%;
    background-color: cadetblue;
    color: white;
    border-color: white;
}
#music {
    top: 14.5vw;
    left: 33.5vw;
    position: absolute;
}
#sfx {
    top: 14.5vw;
    left: 35vw;
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    #battleScreen {
        aspect-ratio: 6/13;
        background-image: url('/resources/images/Mobile_background.jpeg');
    }
    #backgroundContainer {
        width: 84.9vw;
        top: 5vw;
        aspect-ratio: 1;
        border-radius: 7% 7% 0% 0%;
        background-image: url('/resources/images/mobileBattleBackground.png');
        grid-template-rows: 45% 30.5% 24.5%;
    }
    #battleTextBox {
        color: black;
        margin: 5% 10% 5% 6%;
    }
    .new-game-btn {
        color: black;
        background-color: #f9c4cd;
        font-size: medium;
    }
    #rivalHp {
        height: 6%;
    }
    #myHp {
        left: 48%;
        width: 52%;
        height: 8%;
    }
    #music {
        top: 7.5vw;
        left: 10.5vw;
    }
    #sfx {
        top: 7.5vw;
        left: 16vw;
    }
  }