.movesButton {
    width: 90%;
    height: 3em;
    border-radius: 25px;
    margin-inline: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.movesButtonTextWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.movesButtonTextWrapper > p:nth-child(3){
    width: 5%;
}
.movesButtonTextWrapper > p:nth-child(1){
    font-size: small;
}
.movesButtonText {
    width: 22%;
    margin: 0%;
    font-size: medium;
}
.selected {
    background-color: green;
    color: white;
}
.not-selected {
    background-color: lightgray;
    color: black;
}