.confirmWrapper {
    width: 50%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    background-color: aqua;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;

}
.confirmText {
    font-size: medium;
    color: black;
}
.loading {
    background-color: lightgrey;
}